.about-container {
  .logo {
    font-weight: 500;
    font-size: 50px;
    margin: 100px auto;
    text-align: center;
  }

  .description-wrap {
    font-family: "Times New Roman", serif;
    width: 532px;
    margin: auto;

    .subheader {
      font-style: italic;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .about-description {
      font-size: 18px;
      line-height: 140%;
    }
  }

  .contacts {
    font-size: 11px;
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
  }
}
