.main-container {
  width: 80vw;
  background: #b4ccee;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px 30px;
}

.messagesArea {
  border-top: 1px solid #000;
  margin: 50px 0;
  // background: #b4ff00;
  padding: 30px 5px;
  border-radius: 15px;
}
