form {
  margin: 0 0 30px !important;

  label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  div {
    display: flex;
    margin-top: 10px;

    .new-message-input {
      font-size: 30px;
      line-height: 150%;
      width: 100%;
      border: none;
      resize: none;
      font-family: "Gaegu", "Helvetica", cursive;

      &::placeholder {
        color: #d6d6d6;
      }
    }
  }
}
