.projects-page {
  font-family: "Transcript Mono Pro", monospace;

  width: 90vw;
  margin: auto;
  margin-top: 30px;

  .subheader {
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: "Times New Roman", serif;
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .project-item {
      font-size: 18px;
      height: 50px;
      line-height: 50px;
      padding: 4px 10px;
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ececec;
      transition: border-bottom 0.2s ease;

      &:hover {
        border-bottom: 1px solid #000;

        .project-authors {
          opacity: 1;
        }
        .project-date {
          opacity: 1;
        }
      }

      .project-title {
        width: 420px;
      }

      .project-authors {
        width: 500px;
        opacity: 0.5;
        transition: opacity 0.2s ease;
      }

      .project-date {
        width: 80px;
        opacity: 0.5;
        transition: opacity 0.2s ease;
      }
    }
  }
}

.project-page {
  margin: 60px auto;
  width: 60%;

  .project-title {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .project-content {
    margin-bottom: 120px;
    font-size: 18px;
    line-height: 32px;
    width: 573px;
    margin: auto;
  }

  .project-authors {
    text-align: right;
    margin-bottom: 12px;
  }

  .project-date {
    text-align: right;
  }
}
