.projects-page {
  font-family: "Transcript Mono Pro", monospace;

  width: 90vw;
  margin: auto;
  margin-top: 30px;

  .subheader {
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: "Times New Roman", serif;
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .project-item {
      font-size: 18px;
      height: 50px;
      line-height: 50px;
      padding: 4px 10px;
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ececec;

      &:hover {
      }

      .project-title {
      }

      .project-authors {
        opacity: 0.5;
      }

      .project-date {
        opacity: 0.5;
      }
    }
  }
}

.project-page {
  margin: 60px auto;
  width: 60%;

  .project-title {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .project-content {
    margin-bottom: 120px;
    line-height: 140%;
    font-size: 18px;
    letter-spacing: 0.1px;
  }

  .project-authors {
    text-align: right;
    margin-bottom: 12px;
  }

  .project-date {
    text-align: right;
  }
}
